<template>
  <div>

    <!-- Loading panel -->
    <div class="container centerFlex my-5" v-if="loading">
      <template>
        <PSpinner accessibilityLabel="Spinner Example" />
      </template>
    </div>

    <!-- Runs if data is empty -->
    <div v-if="(isDataExists === false) && (loading === false && isFiltered === false)" class="container my-5">
      <template>
        <div class="Polaris-Card">
          <div class="Polaris-Card__Header">
            <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
              <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                <h2 class="Polaris-Heading">Consignments not found.</h2>
              </div>
              <div class="Polaris-Stack__Item">
                <div
                  data-buttongroup-connected-top="true"
                  class="Polaris-ButtonGroup Polaris-ButtonGroup--connectedTop"
                >
                  <div class="Polaris-ButtonGroup__Item"><a
                      class="Polaris-Link"
                      data-polaris-unstyled="true"
                      :href="`https://${loc}/admin/orders`"
                    >
                      Total Sales
                    </a></div>
                </div>
              </div>
            </div>
            <div class="Polaris-Stack">
              <div class="Polaris-Stack__Item"><span class="Polaris-Card__TagLine">

                </span></div>
            </div>
          </div>
          <div class="Polaris-Card__Section">
            <h1>Start creating consignments from page below.</h1>
            <br>
            <p> <b>Step 1</b> - Fill up app id and secret provided by ABX, and also your details in <b>Settings</b> page. </p>
            <p> <b>Step 2</b> - Go to <b>Order</b> page, Select your order and click Fullfill with ABX in the action menu. </p>
            <p> <b>Step 3</b> - Print shipping lable/AWB in <b>Consignment</b> page. </p>
            <br>
            <p>You can aslo track your consignment in consignment page.</p>
          </div>
        </div>
      </template>
    </div>

    <!-- Runs if data is loaded and exists -->
    <div v-else>
      <template v-if="!loading">
        <h1 class="consignment-title m-15 p-2">Consignments</h1>
        <template>
          <PCard
            :sectioned="false"
            class="my-4">
            <div class="Polaris-Card__Header">
              <div class="Polaris-Stack Polaris-Stack--alignmentCenter justify-content-between">
                <div class="Polaris-Stack__Item d-flex align-items-center">
                  <PTextField
                    id="search_field"
                    type="text"
                    clearable
                    :showCharacterCount="false"
                    :minHeight="0"
                    :multiline="false"
                    :disabled="false"
                    placeholder="Search consignment..."
                    v-model="search">
                    <PIcon slot="prefix" source="SearchMinor" color="base" />
                  </PTextField>
                  <PDatePicker
                    id="fromTo"
                    format="DD/MM/YYYY"
                    clearable
                    :singleDatePicker="false"
                    placeholder="Filter by date"
                    class="ml-2"
                    value=""
                    v-model="fromTo" />
                  <div class="Polaris-Select ml-2">
                    <select v-model="limitShow" id="PolarisSelect2" class="Polaris-Select__Input" aria-invalid="false">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                    </select>
                    <div class="Polaris-Select__Content" aria-hidden="true"><span class="Polaris-Select__SelectedOption" v-html="limitShow"></span><span class="Polaris-Select__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span>
                      <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M7.676 9h4.648c.563 0 .879-.603.53-1.014l-2.323-2.746a.708.708 0 0 0-1.062 0l-2.324 2.746c-.347.411-.032 1.014.531 1.014Zm4.648 2h-4.648c-.563 0-.878.603-.53 1.014l2.323 2.746c.27.32.792.32 1.062 0l2.323-2.746c.349-.411.033-1.014-.53-1.014Z"></path>
                      </svg>
                      </span>
                      </span>
                    </div>
                    <div class="Polaris-Select__Backdrop"></div>
                  </div>
                </div>
                <div class="Polaris-Stack__Item">
                  <div class="Polaris-ButtonGroup">
                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain">
                      <button class="Polaris-Button Polaris-Button--plain" type="button">
                        <span class="Polaris-Button__Content flex-row">
                          <button
                            class="Polaris-Button Polaris-Button--primary px-5 me-2"
                            id="bulkPrintA4"
                            @click="bulkPrint($event,'1')"
                          >Bulk Print A4 print</button>
                          <button
                            id="bulkPrintA5"
                            @click="bulkPrint($event,'2')"
                            class="Polaris-Button Polaris-Button--primary px-5"
                          >Bulk Print A6</button>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <PCardSection>
              <template>
                <PCard>
                  <index-table
                    :handleSelectionChange="handleSelectionChange"
                    :allCheckedEvent="allCheckedEvent"
                    :data="data"
                    :loc="loc"
                    :checkChanged="checkChanged"
                  />
                  <div class="py-5 d-flex px-4">
                    <div v-if="data.length < 1" class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                      <h2>No data showed.</h2>
                    </div>
                    <div v-else class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                      <h2>Showing consignment <span class="fw-bold">{{pagination.from}}-{{pagination.to}}</span> of <span class="fw-bold">{{pagination.total}}</span></h2>
                    </div>
                    <div class="center-center">
                      <button
                        class="Polaris-Button mb-1 new_btn mxe_2 p-0-20"
                        id="Previos"
                        :data-link="prevLink"
                        :class="prevLink.length < 1 ? 'Polaris-Button--disabled' : ''"
                        @click="getPaginateData(prevLink)"
                      >
                        <PIcon source="ArrowLeftMinor" />
                      </button>
                      <template v-for="link,i in links">
                        <button
                        :key="i"
                          v-if="i != 0 && i != (links.length-1) "
                          class="Polaris-Button mb-1 new_btn mxe_2 p-0-20"
                          :id="'page-'+i"
                          :class="link.active == (true) ? 'fw-bold' : ''"
                          :data-link="link.url"
                          @click="getPaginateData(link.url)"
                        >
                          {{link.label}}
                        </button>
                        <!-- <button
                        :key="i"
                          v-if="i == pageLimit"
                          class="Polaris-Button mb-1 new_btn mxe_2 Polaris-Button--disabled "
                          :id="'page-'+i"
                          :class="link.active == (true) ? 'fw-bold' : ''"
                          @click="getPaginateData(link.url)"
                        >
                          ...
                        </button> -->
                      </template>
                      <button
                        class="Polaris-Button mb-1 new_btn p-0-20"
                        id="Previos"
                        :class="nextLink.length < 1 ? 'Polaris-Button--disabled' : ''"
                        :data-link="nextLink"
                        @click="getPaginateData(nextLink)"
                      >
                        <PIcon source="ArrowRightMinor" />
                      </button>
                    </div>
                  </div>
                </PCard>
              </template>
            </PCardSection>
          </PCard>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import instance from "../../../instance";
import IndexTable from "./partials/IndexTable.vue";
import { Toast } from "@shopify/app-bridge/actions";

export default {
  components: { IndexTable },
  data() {
    return {
      loading: true,
      count: null,
      allChecked: false,
      data: [],
      prevLink: "",
      nextLink: "",
      loc: {},
      pagination: {},
      links : [],
      pageLimit : 4,
      search: '',
      dateFilter: '',
      fromTo: null,
      limitShow: 10
    };
  },
  created() {
    this.getConsignments();
    this.getLocation();
  },
  methods: {
    handleSelectionChange() {
      console.log("changed");
    },
    allCheckedEvent() {
      if (this.allChecked == false) {
        this.allChecked = true;
      } else {
        this.allChecked = false;
      }
    },
    getConsignments() {
      let hidden_session = document.getElementById("hidden_session");
      let hidden_session_error = document.getElementById(
        "hidden_session_error"
      );

      if (
        typeof hidden_session_error != "undefined" &&
        hidden_session_error != null
      ) {
        if (hidden_session_error.value != "") {
          const toastOptions = {
            message: hidden_session_error.value,
            duration: 7000,
            isError: true
          };
          const toastNotice = Toast.create(
            window.shopify_app_bridge,
            toastOptions
          );
          toastNotice.dispatch(Toast.Action.SHOW);
          document.getElementById("hidden_session_error").value = '';
        }
      } else if (
        typeof hidden_session != "undefined" &&
        hidden_session != null
      ) {
        if (hidden_session.value != "") {
          const toastOptions = {
            message: hidden_session.value,
            duration: 7000
          };
          const toastNotice = Toast.create(
            window.shopify_app_bridge,
            toastOptions
          );
          toastNotice.dispatch(Toast.Action.SHOW);
          document.getElementById("hidden_session").value = '';
        }
      }

      let base = this;
      instance
        .get(`/all-consignments?limitShow=${base.limitShow}`, {
          params: {
            ...(base.search ? { search: base.search } : {}),
            ...(base.dateFilter ? { dateFilter: base.dateFilter } : {}),
          }
        })
        .then((res) => {
          // console.log(res.data.data.pagination);
          base.pagination = res.data.data.pagination;
          base.data = res.data.data.consignments;

          base.prevLink =
            res.data.data.pagination.prev_page_url == undefined
              ? ""
              : res.data.data.pagination.prev_page_url;

          base.nextLink =
            res.data.data.pagination.next_page_url == undefined
              ? ""
              : res.data.data.pagination.next_page_url;

          base.links = res.data.data.pagination.links

        })
        .catch((err) => {
          // console.log(err);
          if (err.response.status == 403) {
            base.getConsignments();
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    bulkPrint(e, paper) {
      e.preventDefault();
      let orders = document.querySelectorAll(".checkBoxes:checked");
      let url = "https://kexsystem.com.my/SmartEDI_Portal/api/woo?wooawb=";
      // console.log(orders.length);
      if (orders.length != 0) {
        orders.forEach((order, i) => {
          if (i == 0) {
            url += `${order.value}`;
          } else {
            url += `,${order.value}`;
          }
        });
        url += `&paper=${paper}`;
        window.open(url, "_blank");
      } else {
        // console.log("Please select order for printing.");
        const toastOptions = {
          message: "Please select order for printing.",
          duration: 7000,
          isError: true,
        };
        const toastNotice = Toast.create(
          window.shopify_app_bridge,
          toastOptions
        );
        toastNotice.dispatch(Toast.Action.SHOW);
      }
    },
    getPaginateData(link) {
      let base = this;
      this.loading = true;
      document.querySelectorAll(".checkBoxes:checked").forEach((o) => {
        o.checked = false;
      });
      document.getElementById("checkAll").checked = false;
      instance
        .get(link, {
          params: {
            limitShow: base.limitShow,
            ...(base.search ? { search: base.search } : {}),
            ...(base.dateFilter ? { dateFilter: base.dateFilter } : {}),
          }
        })
        .then((res) => {
          // console.log(res);
          base.pagination = res.data.data.pagination;
          base.data = res.data.data.consignments;
          base.prevLink =
            res.data.data.pagination.prev_page_url == undefined
              ? ""
              : res.data.data.pagination.prev_page_url;
          base.nextLink =
            res.data.data.pagination.next_page_url == undefined
              ? ""
              : res.data.data.pagination.next_page_url;

            base.links = res.data.data.pagination.links
        })
        .catch((err) => {
          // console.log(err);
          if (err.response.status == 403) {
            base.getConsignments();
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    getLocation() {
      this.loc = window["shopOrigin"];
    },
    checkChanged() {
      let checkBoxes = document.querySelectorAll(".checkBoxes:checked");
      // console.log(this.data.length == checkBoxes.length);
      // console.log(this.data.length);
      // console.log(checkBoxes.length);
      if (this.data.length == checkBoxes.length) {
        this.allCheckedEvent();
        console.log("checked");
        document.getElementById("checkAll").checked = true;
      } else {
        document.getElementById("checkAll").checked = false;
      }
    },
  },
  computed: {
    isFiltered() {
      return this.search.length > 0 || this.dateFilter.length > 0;
    },
    isDataExists() {
      return this.data.length > 0;
    }
  },
  watch: {
    limitShow() {
      this.getConsignments();
    },
    search() {
      this.getConsignments();
    },
    fromTo() {
      if ( this.fromTo.startDate !== null && this.fromTo.endDate !== null) {
        this.startDate = new Date(this.fromTo.startDate).toDateString();
        this.endDate = new Date(this.fromTo.endDate).toDateString();

        this.dateFilter = [this.startDate, this.endDate].toString();
      } else {
        this.dateFilter = '-';
      }

      this.getConsignments();
    },
  }
};
</script>

<style scoped>
.p-0-20{
  padding: 0 20px !important;
}
.center-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-15 {
  margin: 1.5rem;
}
.new_btn {
  padding: 0 50px;
  border: 1px solid lightgray !important;
  border-radius: 0;
}
.mxe_2 {
  margin-right: -5px;
}
</style>
