<template>
  <!-- Runs if data is empty -->
  <div class="container my-5">
    <template>
      <div class="Polaris-Card">
        <div class="Polaris-Card__Section">
          <h1>Start creating consignments from page below.</h1>
          <br>
          <p> <b>Step 1</b> - Fill up app id and secret provided by ABX, and also your details here. </p>
          <p> <b>Step 2</b> - Go to <b>Order</b> page, Select your order and click Fullfill with ABX in the action menu. </p>
          <p> <b>Step 3</b> - Print shipping lable/AWB in <b>Consignment</b> page. </p>
          <br>
          <p>You can aslo track your consignment in consignment page.</p>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {

}
</script>
