<template>
  <div class="container pb-1">
    <div
      class="container centerFlex my-5"
      v-if="loading"
    >
      <template>
        <PSpinner accessibilityLabel="Spinner Example" />
      </template>
    </div>

    <div v-if="!loading">
      <PLayout sectioned>
        <PLayoutSection>
          <PCard
            sectioned=""
            :actions="[]"
          >
            <h1 class="setting-title">
              Settings
            </h1>
            <p class="setting-text">
              To start creating shipments
            </p>
            <p> <b>Step 1</b> - Fill up app id and secret provided by ABX, and also your details here. </p>
            <p> <b>Step 2</b> - Go to <b>Order</b> page, Select your order and click Fullfill with ABX in the action menu. </p>
            <p> <b>Step 3</b> - Print shipping lable/AWB in <b>Consignment</b> page. </p>
            <br><br>
            <p>You can aslo track your consignment in consignment page.</p>
          </PCard>
        </PLayoutSection>
      </PLayout>

      <!-- Api Section -->
      <template>
        <PLayout style="margin: 0.2rem;">
          <PLayoutSection secondary="">
            <PCard
              title="API"
              sectioned=""
              :actions="[]"
            >
              Insert your API credentials to start posting shipment data to ABX Express.
            </PCard>
          </PLayoutSection>

          <PLayoutSection>
            <PCard
              title=""
              sectioned=""
              :actions="[]"
              class="p-05rem"
            >
              <PTextField
                :error="errData['data.api.app_id'] != undefined ? errData['data.api.app_id'][0] : ''"
                label="App Id"
                id="app_id"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.api.app_id"
              />
              <PTextField
                :error="errData['data.api.app_secret'] != undefined ? errData['data.api.app_secret'][0] : ''"
                label="App Secret"
                id="app_secret"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.api.app_secret"
              />
            </PCard>
          </PLayoutSection>

        </PLayout>
      </template>

      <!-- Consignment Prefix Section -->
      <template>
        <PLayout style="margin: 0.2rem;">
          <PLayoutSection secondary="">
            <PCard
              title="Consignment Prefix"
              sectioned=""
              :actions="[]"
            >
              The first 4-6 alphabets in your Consignment no. provided by ABX.
            </PCard>
          </PLayoutSection>

          <PLayoutSection>
            <PCard
              title=""
              sectioned=""
              :actions="[]"
              class="p-05rem"
            >
              <PTextField
                :error="errData['data.consignment_prefix'] != undefined ? errData['data.consignment_prefix'][0] : ''"
                label="Consignment Prefix"
                id="consignment_prefix"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                v-model="data.consignment_prefix"
              />
            </PCard>
          </PLayoutSection>

        </PLayout>
      </template>

      <!-- Sender Details Section -->
      <template>
        <PLayout
          style="margin: 0.2rem;"
          class="mb-5"
        >
          <PLayoutSection secondary="">
            <PCard
              title="Sender Details"
              sectioned=""
              :actions="[]"
            >
              Sender's location details.
            </PCard>
          </PLayoutSection>

          <PLayoutSection>
            <PCard
              title=""
              sectioned=""
              :actions="[]"
              class="p-05rem"
            >
              <PTextField
                :error="errData['data.sender_details.name'] != undefined ? errData['data.sender_details.name'][0] : ''"
                label="Name"
                id="name"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.sender_details.name"
              />

              <div class="d-flex space-between mb-3">
                <PTextField
                  :error="errData['data.sender_details.email'] != undefined ? errData['data.sender_details.email'][0] : ''"
                  label="Email"
                  id="email"
                  :minHeight="0"
                  :multiline="false"
                  type="text"
                  :disabled="false"
                  class="mb-3 pl-0 min-width-50"
                  v-model="data.sender_details.email"
                />
                <PTextField
                  :error="errData['data.sender_details.mobile_number'] != undefined ? errData['data.sender_details.mobile_number'][0] : ''"
                  label="Mobile Number"
                  id="mobile_number"
                  :minHeight="0"
                  :multiline="false"
                  type="text"
                  :disabled="false"
                  class="mb-3 pr-0 min-width-50"
                  v-model="data.sender_details.mobile_number"
                />
              </div>

              <PTextField
                :error="errData['data.sender_details.address1'] != undefined ? errData['data.sender_details.address1'][0] : ''"
                label="Address 1"
                id="address1"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.sender_details.address1"
              />

              <PTextField
                :error="errData['data.sender_details.address2'] != undefined ? errData['data.sender_details.address2'][0] : ''"
                label="Address 2"
                id="address2"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.sender_details.address2"
              />

              <PTextField
                :error="errData['data.sender_details.postal_code'] != undefined ? errData['data.sender_details.postal_code'][0] : ''"
                label="Postal Code"
                id="postal_code"
                :minHeight="0"
                :multiline="false"
                type="text"
                :disabled="false"
                class="mb-3"
                v-model="data.sender_details.postal_code"
              />

              <div class="d-flex space-between mb-3">
                <PTextField
                  :error="errData['data.sender_details.city'] != undefined ? errData['data.sender_details.city'][0] : ''"
                  :class="errData['data.sender_details.city'] != undefined ? 'Polaris-TextField--error' : ''"
                  label="City"
                  id="city"
                  :minHeight="0"
                  :multiline="false"
                  type="text"
                  :disabled="false"
                  class="mb-3 pl-0 min-width-50"
                  v-model="data.sender_details.city"
                />
                <PSelect
                  :error="errData['data.sender_details.state'] != undefined ? errData['data.sender_details.state'][0] : ''"
                  v-model="data.sender_details.state"
                  class="mb-3 pl-0 min-width-50"
                  label="State"
                  id="state"
                  :options="states"
                  :value="null"
                  placeholder="Select"
                />
              </div>

            </PCard>
          </PLayoutSection>

        </PLayout>
      </template>
    </div>
  </div>
</template>

<script>
import instance from "../../../instance.js";
import helper from "../../../helper";

export default {
  data() {
    return {
      states: [
        "Johor",
        "Kedah",
        "Kelantan",
        "Kuala Lumpur",
        "Labuan",
        "Malacca",
        "Negeri",
        "Sembilan",
        "Pahang",
        "Perak",
        "Perlis",
        "Putrajaya",
        "Sabah",
        "Sarawak",
        "Selangor",
        "Terengganu",
      ],
      loading: true,
      spareData: [],
      data: {
        api: {
          app_id: "",
          app_secret: "",
        },
        consignment_prefix: "",
        sender_details: {
          name: "",
          email: "",
          mobile_number: "",
          address1: "",
          address2: "",
          postal_code: "",
          city: "",
          state: "",
        },
      },
      errData: {
        data: {
          api: {
            app_id: "",
            app_secret: "",
          },
          consignment_prefix: "",
          sender_details: {
            name: "",
            email: "",
            mobile_number: "",
            address1: "",
            address2: "",
            postal_code: "",
            city: "",
            state: "",
          },
        },
      },
      save: "",
      loading: true,
    };
  },
  methods: {
    getSettings() {
      let base = this;
      instance({
        method: "GET",
        url: "/settings",
      })
        .then((response) => {
          if (response["data"].data == null) {
            this.loading = false;
          } else {
            // console.log(response.data.data);
            this.data = response.data.data;
            this.spareData = JSON.stringify(response.data.data);
            this.loading = false;
          }
        })
        .catch((e) => {
          // console.log(e);
          if (e.response.status == 403) {
            base.getSettings();
          }
        });
    },
    submit() {
      let base = this;
      this.loading = true;
      instance({
        method: "POST",
        url: "/saveSettings",
        data: {
          data: base.data,
        },
      })
        .then((responce) => {
          base.loading = false;
          if (
            responce.data.success != undefined &&
            responce.data.success != false
          ) {
            // console.log(responce);
            base.errData = [];
            base.spareData = JSON.stringify(base.data);
          }
        })
        .catch((e) => {
          base.loading = false;
          if (e.response.status == 422) {
            base.errData = e.response.data;
          } else if (e.response.status == 403) {
            base.submit();
          }
        });
    },
  },
  created() {
    this.getSettings();
    helper.saveBar(this);
    // helper.clearConsole();
  },
  watch: {
    data: {
      handler: function (val, oldVal) {
        helper.showSavebar(this);
      },
      deep: true,
    },
  },
};
</script>

<style scoped>

</style>