<template>
  <div>
    <div class="Polaris-Card">
      <div>
        <div class="Polaris-Tabs__Wrapper">

          <ul class="Polaris-Tabs">
            <li
              class="Polaris-Tabs__TabContainer"
              v-for="(item, i) in items"
              :key=i
            >
              <router-link
                :to="item.path"
                tabindex="0"
                class="Polaris-Tabs__Tab "
                :class="activeClass(item.path)"
              ><span class="Polaris-Tabs__Title">{{item.title}}</span></router-link>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [],
    };
  },
  created() {
    this.$router.options.routes.forEach((route) => {
      if (route.meta.ignoreInMenu == 0) {
        this.items.push({
          name: route.name,
          path: route.path,
          title: route.title,
        });
      }
    });
  },
  methods: {
    activeClass(path) {
      if (this.$route.path == path) {
        return "Polaris-Tabs__Tab--selected";
      }
    },
  },
};
</script>