<template>
  <div>
    <div>
      <div class="Polaris-Card p-4 box-shadow-none">
        <div class="polaris_table_parent">

          <div class="polaris_table_scroll">
            <table class="Polaris-IndexTable__Table ox-scroll">
              <thead>
                <tr>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--first position-unset"
                    data-index-table-heading="true"
                  >
                    <div class="Polaris-IndexTable__ColumnHeaderCheckboxWrapper"><label
                        class="Polaris-Choice Polaris-Choice--labelHidden"
                        for="checkAll"
                      ><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input
                              id="checkAll"
                              type="checkbox"
                              @change="changedAll($event)"
                              class="Polaris-Checkbox__Input"
                              aria-invalid="false"
                              role="checkbox"
                              aria-checked="false"
                              value=""
                            ><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                  viewBox="0 0 20 20"
                                  class="Polaris-Icon__Svg"
                                  focusable="false"
                                  aria-hidden="true"
                                >
                                  <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                </svg></span></span></span></span><span class="Polaris-Choice__Label">Select all consignments</span></label></div>
                  </th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--second position-unset"
                    data-index-table-heading="true"
                    style="left: 76px;"
                  >Date</th>
                  <th
                    class="Polaris-IndexTable__TableHeading"
                    data-index-table-heading="true"
                  >Consignment No.</th>
                  <th
                    class="Polaris-IndexTable__TableHeading"
                    data-index-table-heading="true"
                  >Order</th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last"
                    data-index-table-heading="true"
                  >Recipient Name</th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last"
                    data-index-table-heading="true"
                  >Weight (kg)</th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last"
                    data-index-table-heading="true"
                  >Address</th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last"
                    data-index-table-heading="true"
                  >Print Label</th>
                  <th
                    class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last"
                    data-index-table-heading="true"
                  >Track</th>
                </tr>
              </thead>
              <tbody>

                <tr
                  class="Polaris-IndexTable__TableRow"
                  v-for="consignment,i in data"
                  :key="i"
                >
                  <td class="Polaris-IndexTable__TableCell Polaris-IndexTable__TableCell--first position-unset">
                    <div class="Polaris-IndexTable-Checkbox__TableCellContentContainer">
                      <div class="Polaris-IndexTable-Checkbox__Wrapper Polaris-IndexTable-Checkbox--expanded"><label
                          class="Polaris-Choice Polaris-Choice--labelHidden"
                          :for="consignment.req.shipment.con_no"
                        ><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input
                                :id="consignment.req.shipment.con_no"
                                type="checkbox"
                                @change="checkChanged()"
                                class="Polaris-Checkbox__Input checkBoxes"
                                aria-invalid="false"
                                role="checkbox"
                                aria-checked="false"
                                :value="consignment.req.shipment.con_no"
                              ><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg
                                    viewBox="0 0 20 20"
                                    class="Polaris-Icon__Svg"
                                    focusable="false"
                                    aria-hidden="true"
                                  >
                                    <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                  </svg></span></span></span></span><span class="Polaris-Choice__Label">Select customer</span></label></div>
                    </div>
                  </td>
                  <td class="Polaris-IndexTable__TableCell position-unset">{{consignment.req.date}}</td>
                  <td class="Polaris-IndexTable__TableCell">{{consignment.req.shipment.con_no}}</td>
                  <td class="Polaris-IndexTable__TableCell"><a
                      class="Polaris-Link"
                      data-polaris-unstyled="true"
                      :href="`https://${loc}/admin/orders/${consignment.order_id}`"
                      target="blank"
                    >
                      #{{consignment.req.order_number}}
                    </a>
                  </td>
                  <td class="Polaris-IndexTable__TableCell">{{consignment.req.shipment.r_name}}</td>
                  <td class="Polaris-IndexTable__TableCell">{{consignment.req.shipment.weight}}</td>
                  <td class="Polaris-IndexTable__TableCell">{{consignment.req.shipment.r_address}}</td>
                  <td class="Polaris-IndexTable__TableCell flex-column">
                    <a
                      :href="`https://kexsystem.com.my/SmartEDI_Portal/api/woo?wooawb=${consignment.req.shipment.con_no}&paper=1`"
                      target="blank"
                      class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim mb-1 p-1"
                    >Print A4</a>
                    <a
                      :href="`https://kexsystem.com.my/SmartEDI_Portal/api/woo?wooawb=${consignment.req.shipment.con_no}&paper=2`"
                      target="blank"
                      class="Polaris-Button Polaris-Button--primary Polaris-Button--sizeSlim mb-1 p-1"
                    >Print A6</a>
                  </td>
                  <td class="Polaris-IndexTable__TableCell">
                    <a
                      :href="`https://kexexpress.com.my/Home/Track?trackingInfo=${consignment.req.shipment.con_no}`"
                      target="blank"
                      class="Polaris-Button"
                    >Track</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="Polaris-IndexTable__ScrollBarContainer">
          <div
            class="Polaris-IndexTable__ScrollBar"
            style="--p-scroll-bar-content-width:0px;"
          >
            <div class="Polaris-IndexTable__ScrollBarContent"></div>
          </div>
        </div> -->
      </div>
      <div id="PolarisPortalsContainer"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "handleSelectionChange",
    "data",
    "allCheckedEvent",
    "loc",
    "checkChanged",
  ],
  methods: {
    changedAll(e) {
      this.allCheckedEvent();
      // console.log(e.target.checked)
      // select all other check boxes.
      let checkBoxes = document.getElementsByClassName("checkBoxes");
      checkBoxes.forEach((element) => {
        element.checked = e.target.checked;
      });
    },
  },
  created() {},
};
</script>

<style scoped>
.box-shadow-none {
  box-shadow: none;
}
.position-unset {
  position: unset !important;
}
.polaris_table_scroll {
    overflow-x: auto;
}
</style>
